<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eakurnikov.autoque.autofill.impl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name="com.eakurnikov.autoque.autofill.impl.internal.ui.update.UpdatePromptActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".UpdatePromptActivity"
            android:theme="@style/Transparent" />

        <activity
            android:name="com.eakurnikov.autoque.autofill.impl.internal.ui.disclaimer.DisclaimerActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".DisclaimerActivity"
            android:theme="@style/Transparent" />

        <activity
            android:name="com.eakurnikov.autoque.autofill.impl.internal.ui.viewall.ViewAllActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".ViewAllActivity"
            android:theme="@style/Transparent" />

        <service
            android:name="com.eakurnikov.autoque.autofill.impl.internal.domain.AutoQueAutofillService"
            android:enabled="false"
            android:label="@string/faf_autofill_service_label"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">

            <meta-data
                android:name="android.autofill"
                android:resource="@xml/faf_compatibility_packages" />

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>

        </service>

    </application>

</manifest>